<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <nav>
        <a class='button' href="<%= bands_url %>">Homepage</a>

        <div class='user-detail'>
          <p>Welcome: <%= current_user.email %></p>
        <form action="<%= session_url %>" method='post'>
          <input type="hidden" name="_method" value="delete">
          <%= auth_token %>
          <input type="submit" value="Log Out">
        </form>
        </div>
      </nav>
    <% else %>
      <nav>
        <a class='button' href="<%= bands_url %>">Homepage</a>

        <div class='user-detail'>
        <form action="<%= new_session_url %>" method='get'>
          <%= auth_token %>
          <input type="submit" value="Log In">
        </form>
        <form action="<%= new_user_url %>" method="get">
          <%= auth_token %>
          <input type="submit" value="Sign Up">
        </form>
        </div>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
